<h1 class="display-1 text-center bg-info text-light">Movies App</h1>

<h2 class="text-light text-center bg-secondary">Login</h2>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="">
            <div>
                <input type="text" name="" placeholder="Enter Your Username" id="" class="form-control mt-3">
            </div>
            <div>
                <input type="password" name="" placeholder="Enter Your Password" id="" class="form-control mt-3">
            </div>
            <div class="text-center">
                <button class="btn btn-success mt-5">Login</button>
            </div>
        </form>

    </div>
    <div class="col"></div>
</div>